@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Infant:ital,wght@1,300;1,500&family=EB+Garamond:wght@400;500&family=Eczar:wght@400;500&family=Fredericka+the+Great&family=Labrada&family=Satisfy&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Cormorant Infant', serif; */
/* font-family: 'Eczar', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Labrada', serif;
font-family: 'Satisfy', cursive; */

/* font-family: 'EB Garamond', serif; */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;

}
:root{
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);

}
body{
   overflow-x: hidden;

}
/* img{
    mix-blend-mode: multiply;
} */